@model MaterialCalculator.UI.Models.MaterialViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>About Material Calculator</h1>
<br />
<br />

<form method="post" asp-action="Create">
    <div class="border p-3">
       
       
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

